<form action="/tweets/<%=@tweet.id%>" method="patch">

<h2><%= @tweet.content %></h2>
<input type="text" name="content"
<input type="submit" value="Delete Tweet">
<input type="submit" value="Edit Tweet">
</form>
