<hi>Welcome </h1>
  <form action="/tweets/new" method="post">
    <label>New tweet: <input type="text" name="content" id="content"></label>
    <input type="submit" value="submit">
  </form>
  <a href="/logout">Log Out</a>
